#  Import Python Libraries

In [172]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse
from pandas.tseries.offsets import Hour, Minute

##  Loading data

In [138]:
Boing_2016_Survey_df = pd.read_excel (r'BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')
Boing_2016_Survey_df.head(2)

Boing_2016_Survey_df = pd.read_excel (r'BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')

In [120]:
Boing_2015_Survey_df = pd.read_excel (r'CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx')
Boing_2017_Survey_df = pd.read_excel (r'candyhierarchy2017.xlsx')

# Data Cleaning and Preparation

## Handling Missing Data

In [121]:
Boing_2016_Survey_df.isnull()
Boing_2015_Survey_df.isnull().sum()
Boing_2016_Survey_df.isnull().sum()
Boing_2017_Survey_df.isnull().sum()

Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

In [122]:
Boing_2015_Survey_df.dropna(axis=0,inplace=True)
Boing_2016_Survey_df.dropna(axis=0,inplace=True)
Boing_2017_Survey_df.dropna(axis=0,inplace=True)

## Filling In Missing Data

In [123]:
Boing_2015_Survey_df['How old are you?'].fillna('Age is Missing', inplace=True)
Boing_2016_Survey_df['How old are you?'].fillna('No Gender', inplace=True)
Boing_2017_Survey_df['Q2: GENDER'].fillna('No Gender', inplace=True)

Series([], Name: Q2: GENDER, dtype: object)

## Removing Duplicates

In [124]:
Boing_2015_Survey_df.duplicated()
Boing_2016_Survey_df.duplicated()
Boing_2017_Survey_df.duplicated()

Series([], dtype: bool)

In [125]:
Boing_2015_Survey_df.drop_duplicates()
Boing_2016_Survey_df.drop_duplicates()
Boing_2017_Survey_df.drop_duplicates()

Empty DataFrame
Columns: [Internal ID, Q1: GOING OUT?, Q2: GENDER, Q3: AGE, Q4: COUNTRY, Q5: STATE, PROVINCE, COUNTY, ETC, Q6 | 100 Grand Bar, Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes), Q6 | Any full-sized candy bar, Q6 | Black Jacks, Q6 | Bonkers (the candy), Q6 | Bonkers (the board game), Q6 | Bottle Caps, Q6 | Box'o'Raisins, Q6 | Broken glow stick, Q6 | Butterfinger, Q6 | Cadbury Creme Eggs, Q6 | Candy Corn, Q6 | Candy that is clearly just the stuff given out for free at restaurants, Q6 | Caramellos, Q6 | Cash, or other forms of legal tender, Q6 | Chardonnay, Q6 | Chick-o-Sticks (we don’t know what that is), Q6 | Chiclets, Q6 | Coffee Crisp, Q6 | Creepy Religious comics/Chick Tracts, Q6 | Dental paraphenalia, Q6 | Dots, Q6 | Dove Bars, Q6 | Fuzzy Peaches, Q6 | Generic Brand Acetaminophen, Q6 | Glow sticks, Q6 | Goo Goo Clusters, Q6 | Good N' Plenty, Q6 | Gum from baseball cards, Q6 | Gummy Bears straight up, Q6 | Hard Candy, Q6 | Healthy Fruit, Q6 | Heath Bar, Q6 | Hershey's Dark Chocolate, Q6 | Hershey’s Milk Chocolate, Q6 | Hershey's Kisses, Q6 | Hugs (actual physical hugs), Q6 | Jolly Rancher (bad flavor), Q6 | Jolly Ranchers (good flavor), Q6 | JoyJoy (Mit Iodine!), Q6 | Junior Mints, Q6 | Senior Mints, Q6 | Kale smoothie, Q6 | Kinder Happy Hippo, Q6 | Kit Kat, Q6 | LaffyTaffy, Q6 | LemonHeads, Q6 | Licorice (not black), Q6 | Licorice (yes black), Q6 | Lindt Truffle, Q6 | Lollipops, Q6 | Mars, Q6 | Maynards, Q6 | Mike and Ike, Q6 | Milk Duds, Q6 | Milky Way, Q6 | Regular M&Ms, Q6 | Peanut M&M’s, Q6 | Blue M&M's, Q6 | Red M&M's, Q6 | Green Party M&M's, Q6 | Independent M&M's, Q6 | Abstained from M&M'ing., Q6 | Minibags of chips, Q6 | Mint Kisses, Q6 | Mint Juleps, Q6 | Mr. Goodbar, Q6 | Necco Wafers, Q6 | Nerds, Q6 | Nestle Crunch, Q6 | Now'n'Laters, Q6 | Peeps, Q6 | Pencils, Q6 | Pixy Stix, Q6 | Real Housewives of Orange County Season 9 Blue-Ray, Q6 | Reese’s Peanut Butter Cups, Q6 | Reese's Pieces, Q6 | Reggie Jackson Bar, Q6 | Rolos, Q6 | Sandwich-sized bags filled with BooBerry Crunch, Q6 | Skittles, Q6 | Smarties (American), Q6 | Smarties (Commonwealth), Q6 | Snickers, Q6 | Sourpatch Kids (i.e. abominations of nature), Q6 | Spotted Dick, Q6 | Starburst, Q6 | Sweet Tarts, Q6 | Swedish Fish, Q6 | Sweetums (a friend to diabetes), Q6 | Take 5, Q6 | Tic Tacs, Q6 | Those odd marshmallow circus peanut things, Q6 | Three Musketeers, ...]
Index: []

[0 rows x 120 columns]

## Replacing Values

In [126]:
Boing_2015_Survey_df['How old are you?'].replace(to_replace = np.nan, value = 0,inplace=True)
Boing_2016_Survey_df['How old are you?'].replace(to_replace = np.nan, value = 0,inplace=True)
Boing_2017_Survey_df['Q2: GENDER'].replace(to_replace = np.nan, value = 0,inplace=True)

Series([], Name: Q2: GENDER, dtype: object)

# Data Wrangling: Join, Combine

## Hierarchical Indexing

In [127]:
Boing_2015_Survey_df.index
Boing_2016_Survey_df.index
Boing_2017_Survey_df.index

Int64Index([], dtype='int64')

## Combining and Merging Datasets

In [128]:
pd.merge(Boing_2015_Survey_df, Boing_2016_Survey_df)

combine_df = pd.merge(Boing_2015_Survey_df, Boing_2016_Survey_df, how='outer')

In [129]:
result = Boing_2016_Survey_df.stack()
result

Series([], dtype: object)

In [130]:
Boing_2016_Survey_df

Empty DataFrame
Columns: [Timestamp, Are you going actually going trick or treating yourself?, Your gender:, How old are you?, Which country do you live in?, Which state, province, county do you live in?,  [100 Grand Bar],  [Anonymous brown globs that come in black and orange wrappers],  [Any full-sized candy bar],  [Black Jacks],  [Bonkers (the candy)],  [Bonkers (the board game)],  [Bottle Caps],  [Box'o'Raisins],  [Broken glow stick],  [Butterfinger],  [Cadbury Creme Eggs],  [Candy Corn],  [Candy that is clearly just the stuff given out for free at restaurants],  [Caramellos],  [Cash, or other forms of legal tender],  [Chardonnay],  [Chick-o-Sticks (we don’t know what that is)],  [Chiclets],  [Coffee Crisp],  [Creepy Religious comics/Chick Tracts],  [Dental paraphenalia],  [Dots],  [Dove Bars],  [Fuzzy Peaches],  [Generic Brand Acetaminophen],  [Glow sticks],  [Goo Goo Clusters],  [Good N' Plenty],  [Gum from baseball cards],  [Gummy Bears straight up],  [Hard Candy],  [Healthy Fruit],  [Heath Bar],  [Hershey's Dark Chocolate],  [Hershey’s Milk Chocolate],  [Hershey's Kisses],  [Hugs (actual physical hugs)],  [Jolly Rancher (bad flavor)],  [Jolly Ranchers (good flavor)],  [JoyJoy (Mit Iodine!)],  [Junior Mints],  [Senior Mints],  [Kale smoothie],  [Kinder Happy Hippo],  [Kit Kat],  [LaffyTaffy],  [LemonHeads],  [Licorice (not black)],  [Licorice (yes black)],  [Lindt Truffle],  [Lollipops],  [Mars],  [Mary Janes],  [Maynards],  [Mike and Ike],  [Milk Duds],  [Milky Way],  [Regular M&Ms],  [Peanut M&M’s],  [Blue M&M's],  [Red M&M's],  [Third Party M&M's],  [Minibags of chips],  [Mint Kisses],  [Mint Juleps],  [Mr. Goodbar],  [Necco Wafers],  [Nerds],  [Nestle Crunch],  [Now'n'Laters],  [Peeps],  [Pencils],  [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)],  [Pixy Stix],  [Reese’s Peanut Butter Cups],  [Reese's Pieces],  [Reggie Jackson Bar],  [Rolos],  [Skittles],  [Smarties (American)],  [Smarties (Commonwealth)],  [Snickers],  [Sourpatch Kids (i.e. abominations of nature)],  [Spotted Dick],  [Starburst],  [Sweet Tarts],  [Swedish Fish],  [Sweetums (a friend to diabetes)],  [Tic Tacs],  [Those odd marshmallow circus peanut things],  [Three Musketeers],  [Tolberone something or other],  [Trail Mix],  [Twix], ...]
Index: []

[0 rows x 123 columns]

In [131]:
table = pd.pivot_table(data=Boing_2016_Survey_df,index=['Your gender:'])
table

Empty DataFrame
Columns: []
Index: []

# Data Aggregation and Group Operations

## Grouping with Dicts and Series

In [132]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

               a         b         c         d         e
Joe     0.972426  0.286462  0.286919  0.375954 -0.156555
Steve   0.123918 -1.100295 -0.031675  0.184132 -0.668065
Wes     1.768657       NaN       NaN -1.242628  0.938893
Jim     0.012557 -1.401545  0.674510  1.302710  0.475563
Travis  0.206553  0.098606  0.535408 -1.207087 -2.714530

In [133]:
Boing_2016_Survey_df.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
Boing_2016_Survey_df

Empty DataFrame
Columns: [Timestamp, Are you going actually going trick or treating yourself?, Your gender:, How old are you?, Which country do you live in?, Which state, province, county do you live in?,  [100 Grand Bar],  [Anonymous brown globs that come in black and orange wrappers],  [Any full-sized candy bar],  [Black Jacks],  [Bonkers (the candy)],  [Bonkers (the board game)],  [Bottle Caps],  [Box'o'Raisins],  [Broken glow stick],  [Butterfinger],  [Cadbury Creme Eggs],  [Candy Corn],  [Candy that is clearly just the stuff given out for free at restaurants],  [Caramellos],  [Cash, or other forms of legal tender],  [Chardonnay],  [Chick-o-Sticks (we don’t know what that is)],  [Chiclets],  [Coffee Crisp],  [Creepy Religious comics/Chick Tracts],  [Dental paraphenalia],  [Dots],  [Dove Bars],  [Fuzzy Peaches],  [Generic Brand Acetaminophen],  [Glow sticks],  [Goo Goo Clusters],  [Good N' Plenty],  [Gum from baseball cards],  [Gummy Bears straight up],  [Hard Candy],  [Healthy Fruit],  [Heath Bar],  [Hershey's Dark Chocolate],  [Hershey’s Milk Chocolate],  [Hershey's Kisses],  [Hugs (actual physical hugs)],  [Jolly Rancher (bad flavor)],  [Jolly Ranchers (good flavor)],  [JoyJoy (Mit Iodine!)],  [Junior Mints],  [Senior Mints],  [Kale smoothie],  [Kinder Happy Hippo],  [Kit Kat],  [LaffyTaffy],  [LemonHeads],  [Licorice (not black)],  [Licorice (yes black)],  [Lindt Truffle],  [Lollipops],  [Mars],  [Mary Janes],  [Maynards],  [Mike and Ike],  [Milk Duds],  [Milky Way],  [Regular M&Ms],  [Peanut M&M’s],  [Blue M&M's],  [Red M&M's],  [Third Party M&M's],  [Minibags of chips],  [Mint Kisses],  [Mint Juleps],  [Mr. Goodbar],  [Necco Wafers],  [Nerds],  [Nestle Crunch],  [Now'n'Laters],  [Peeps],  [Pencils],  [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)],  [Pixy Stix],  [Reese’s Peanut Butter Cups],  [Reese's Pieces],  [Reggie Jackson Bar],  [Rolos],  [Skittles],  [Smarties (American)],  [Smarties (Commonwealth)],  [Snickers],  [Sourpatch Kids (i.e. abominations of nature)],  [Spotted Dick],  [Starburst],  [Sweet Tarts],  [Swedish Fish],  [Sweetums (a friend to diabetes)],  [Tic Tacs],  [Those odd marshmallow circus peanut things],  [Three Musketeers],  [Tolberone something or other],  [Trail Mix],  [Twix], ...]
Index: []

[0 rows x 123 columns]

## Grouping with Functions

In [134]:
Boing_2015_Survey_df.isnull().sum()
Boing_2016_Survey_df.isnull().sum()
Boing_2017_Survey_df.isnull().sum()

Internal ID                 0
Q1: GOING OUT?              0
Q2: GENDER                  0
Q3: AGE                     0
Q4: COUNTRY                 0
                           ..
Q12: MEDIA [Daily Dish]     0
Q12: MEDIA [Science]        0
Q12: MEDIA [ESPN]           0
Q12: MEDIA [Yahoo]          0
Click Coordinates (x, y)    0
Length: 120, dtype: int64

In [135]:
Boing_2016_Survey_df.groupby(Boing_2016_Survey_df["How old are you?"]).sum()

Empty DataFrame
Columns: [ [York Peppermint Patties] Ignore]
Index: []

In [136]:
grouped = Boing_2016_Survey_df.groupby('How old are you?')
grouped

In [141]:
df_hw_old = df.groupby('How old are you?')

In [142]:
type(df_hw_old)

pandas.core.groupby.generic.DataFrameGroupBy

In [143]:
df_hw_old.describe().head()

                  [York Peppermint Patties] Ignore                           \
                                             count mean std min 25% 50% 75%
How old are you?
7                                              0.0  NaN NaN NaN NaN NaN NaN
10                                             0.0  NaN NaN NaN NaN NaN NaN
11                                             0.0  NaN NaN NaN NaN NaN NaN
12                                             0.0  NaN NaN NaN NaN NaN NaN
13                                             0.0  NaN NaN NaN NaN NaN NaN


                 max
How old are you?
7                NaN
10               NaN
11               NaN
12               NaN
13               NaN

In [144]:
df_hw_old = df_hw_old.median()

In [145]:
print(df_hw_old.index)

Index([                                                    7,
                                                          10,
                                                          11,
                                                          12,
                                                          13,
                                                          14,
                                                          15,
                                                          16,
                                                          17,
                                                          18,
                                                          19,
                                                          20,
                                                          21,
                                                          22,
                                                          23,
                                                        23.2,
                                                          24,
                                                          25,
                                                          26,
                                                          27,
                                                          28,
                                                          29,
                                                          30,
                                                          31,
                                                          32,
                                                          33,
                                                          34,
                                                          35,
                                                          36,
                                                          37,
                                                          38,
                                                          39,
                                                          40,
                                                          41,
                                                          42,
                                                          43,
                                                          44,
                                                          45,
                                                          46,
                                                          47,
                                                          48,
                                                          49,
                                                          50,
                                                          51,
                                                          52,
                                                          53,
                                                          54,
                                                          55,
                                                          56,
                                                          57,
                                                          58,
                                                          59,
                                                          60,
                                                          61,
                                                          62,
                                                          63,
                                                          64,
                                                          65,
                                                          66,
                                                          67,
                                                          68,
                                                          70,
                                                          71,
                                                          74,
                                                          78,
                                                          79,
                                                          81,
                                                          82,
                                                         142,
                                         1000000000000000000,
                                                      '0x2A',
                                               '49 11/12ths',
                                                       '50+',
                                                       '50s',
                                                       '55+',
                                                   'Ancient',
       'As old as my tongue a few years older than my teeth',
                                       'Fifty.  Nine.  Ish.',
                                              'Hahahahahaha',
                       'I remember the Nixon administration',
                          'Never ask a woman that question.',
                                      'Not as old as you...',
                                                       'Old',
                                                'Old enough',
                                'Old enough to know better ',
                         'Old enough to not Trick or Treat.',
                                          'Older than i act',
                                           'Same as yo mama',
         'Too old to trick or treat without it being creepy',
                                                   'ancient',
                                                      'blah',
                                                       'old',
                                                      'old ',
                                                'old enough',
                                   'older than I want to be',
                                                   'over 40',
                                       'over retirement age',
                                                'really old'],
      dtype='object', name='How old are you?')

# Time Series

In [147]:
now = datetime.now()
now
now.year, now.month, now.day

(2021, 2, 11)

In [149]:
stamp = datetime(2021, 2, 11)
str(stamp)
stamp.strftime('%Y-%m-%d')

'2021-02-11'

In [152]:
parse('2021-02-11')

datetime.datetime(2021, 2, 11, 0, 0)

In [153]:
parse('Feb 11, 2021 10:45 PM')

datetime.datetime(2021, 2, 11, 22, 45)

## Generating Date Ranges

In [154]:
index = pd.date_range('2021-02-01', '2021-02-02')
index

DatetimeIndex(['2021-02-01', '2021-02-02'], dtype='datetime64[ns]', freq='D')

In [155]:
pd.date_range(start='2021-02-01', periods=20)
pd.date_range(end='2021-02-02', periods=20)

DatetimeIndex(['2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21',
               '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
               '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
               '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02'],
              dtype='datetime64[ns]', freq='D')

In [156]:
pd.date_range('2021-02-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [157]:
hour = Hour()
hour

In [158]:
four_hours = Hour(4)
four_hours

In [159]:
pd.date_range('2021-02-01', '2021-02-03 23:59', freq='4h')

DatetimeIndex(['2021-02-01 00:00:00', '2021-02-01 04:00:00',
               '2021-02-01 08:00:00', '2021-02-01 12:00:00',
               '2021-02-01 16:00:00', '2021-02-01 20:00:00',
               '2021-02-02 00:00:00', '2021-02-02 04:00:00',
               '2021-02-02 08:00:00', '2021-02-02 12:00:00',
               '2021-02-02 16:00:00', '2021-02-02 20:00:00',
               '2021-02-03 00:00:00', '2021-02-03 04:00:00',
               '2021-02-03 08:00:00', '2021-02-03 12:00:00',
               '2021-02-03 16:00:00', '2021-02-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [160]:
rng = pd.date_range('2021-02-01', '2021-02-03', freq='WOM-3FRI')
list(rng)

[]

In [161]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('2/1/2021', periods=4, freq='M'))
ts
ts.shift(2)
ts.shift(-2)

2021-02-28   -0.526122
2021-03-31   -0.236507
2021-04-30         NaN
2021-05-31         NaN
Freq: M, dtype: float64

## Period Frequency Conversion

In [162]:
p = pd.Period('2021', freq='A-DEC')
p
p.asfreq('M', how='start')
p.asfreq('M', how='end')

Period('2021-12', 'M')

In [163]:
p = pd.Period('2021', freq='A-JUN')
p
p.asfreq('M', 'start')
p.asfreq('M', 'end')

Period('2021-06', 'M')

In [164]:
rng = pd.period_range('2019', '2021', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.asfreq('M', how='start')

2019-01   -0.151014
2020-01   -0.358599
2021-01   -1.031643
Freq: M, dtype: float64

## Quarterly Period Frequencies

In [165]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [166]:
p.asfreq('D', 'start')
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [167]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

### Converting Timestamps to Periods (and Back)

In [168]:
rng = pd.date_range('2021-02-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts
pts = ts.to_period()
pts

2021-02    0.294588
2021-03   -2.501880
2021-04   -0.017215
Freq: M, dtype: float64

In [169]:
rng = pd.date_range('1/29/2021', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2
ts2.to_period('M')

2021-01    2.157484
2021-01    1.016681
2021-01   -2.348418
2021-02    0.482781
2021-02   -0.479597
2021-02   -0.866559
Freq: M, dtype: float64

In [171]:
pts = ts2.to_period()
pts
pts.to_timestamp(how='end')

2021-01-29 23:59:59.999999999    2.157484
2021-01-30 23:59:59.999999999    1.016681
2021-01-31 23:59:59.999999999   -2.348418
2021-02-01 23:59:59.999999999    0.482781
2021-02-02 23:59:59.999999999   -0.479597
2021-02-03 23:59:59.999999999   -0.866559
Freq: D, dtype: float64