### Task 1: (Connect to the supplied petsDB, and write a function to check if the connection is done)

In [28]:
import sqlite3

In [29]:
conn = sqlite3.connect("petsdb")

In [30]:
# a tiny function to make sure the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT count(*) FROM persons")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [31]:
print(is_opened(conn))

True

In [32]:
conn.close()

In [33]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

### Task 2: (What are the different age groups in the persons database)

In [34]:
conn = sqlite3.connect("petsdb")

In [35]:
c = conn.cursor()

In [36]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    #print("We have {} people aged {}".format(ppl, age))
    print(ppl, age)

2 5
1 6
1 7
3 8
1 9
2 11
3 12
1 13
4 14
2 16
2 17
3 18
1 19
3 22
2 23
3 24
2 25
1 27
1 30
3 31
1 32
1 33
2 34
3 35
3 36
1 37
2 39
1 40
1 42
2 44
2 48
1 49
1 50
2 51
2 52
2 53
2 54
1 58
1 59
1 60
1 61
2 62
1 63
2 65
2 66
1 67
3 68
1 69
1 70
4 71
1 72
5 73
3 74

### Task 3: Which age group has maximum number of people?

In [37]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY 1 DESC"):
    print(ppl, age)
    break

5 73

### Task 4: How many people do not have a full name (Last name is blank/null)

result = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in result:
    print(row)

### Task 5: How many people has more than one pet? (*)

In [38]:
result = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in result:
    print("{} People has more than one pets".format(row[0]))

43 People has more than one pets

### Task 6: How many pets have received treaments?

In [39]:
result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in result:
    print(row)

(36,)

### Task 7: How many pets have received treatment that we know the type of? (*)

In [40]:
result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in result:
    print(row)

(16,)

### Task 8: How many pets are there from the city called "east port"

In [41]:
result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in result:
    print(row)

(49,)

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [42]:
result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in result:
    print(row)

(11,)